body{
    padding: 0;
    margin: 0;
    background-image: url(../img/luces-neon.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}


.contenedor-calculadora{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: minmax(120px,auto)repeat(5,100px);
    margin-top: 50px;
    
}

.contenedor-calculadora button{
    cursor: pointer;
    font-size: 2rem;
    font-weight: bold;
    color: rgba(250, 246, 246, 0.753);
    border: 1px solid rgba(161, 138, 138, 0.534);
    outline: none;
    background-color: rgba(99, 52, 138, 0.452);
    border-radius: 5px;
    
}

.contenedor-calculadora button:hover{
    background-color: rgba(155, 218, 202, 0.603);
}

.barra{
    grid-column: 1/ -1;
    background-color: rgba(212, 95, 153, 0.308);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 10px;
    
}

.barra input{
    color: rgb(0, 0, 0);
    font-size: 1.85rem;
    text-align: right;
    background-color: rgba(252, 255, 255, 0.356);
  
}

footer{
    width:100%;
    height: auto;
    display: flex;
    justify-content: center;
    background-color: transparent;
}

footer h3{
    font-size: 1.3rem;
    color: rgba(48, 48, 47, 0.863);
    margin-top:30px;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.418);
    

}


/* Extra small devices (phones, 480px and down) */
@media only screen and (max-width: 480px) {
    body{
    background-image: url(../img/luces-neon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   
}

.barra input{
    margin: auto;
}
.contenedor-calculadora{
    
    grid-template-columns: auto auto auto auto;

}



}
/* Small devices (portrait tablets and large phones, 481px and 768px) */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    body{
        background-image: url(../img/luces-neon.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        
    }

    .barra input{
        margin: auto;
    }
}
/* Medium devices (landscape tablets, 768px and 1024px) */
@media only screen and (min-width: 768px) and (max-width: 1024px){

    body{
        background-image: url(../img/luces-neon.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        
    }
}

/* Largue devices ( landscape desktop, 1025px and 1200px) */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    body{
        background-image: url(../img/luces-neon.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        
    }
}


@media (min-width: 1920px) {
    body{
        background-image: url(../img/luces-neon.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        
    }
}

@media (max-width: 2560px) {
    body{
        background-image: url(../img/luces-neon.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        
    }
}

@media (min-width: 2561px) and (max-width: 3840px) {
  /* Estilos para pantallas con una anchura entre 2561px y 3840px */
}

@media (min-width: 3841px) {
  /* Estilos para pantallas con una anchura de al menos 3841px */
}